<div class="ui menu">
  <a class="item">
    <img src="./assets/images/science-mini.png" />
  </a>
  <!-- <a class="item left"> -->
  <!-- <h1 class="center aligned header header-custom">CHROMOSOME</h1> -->
  <!-- </a> -->
  <a [@userState]="userState" class="item right">
    <img class="ui avatar image" src="assets/images/avatar.png" />
    <div class="content">
      <div class="header header-custom">{{user.fname+' '+user.lname}}</div>
      <span class="">{{user.email}}</span>
    </div>
  </a>
  <a [@userState]="userState" class="item">
    <div class="right floated content" (click)="logout()">
      <div class="ui button small yellow"><i class="icon sign-out"></i>Logout</div>
    </div>
  </a>
</div>


<div class="ui centered cards">

  <div class="card app" *ngFor="let app of apps">
    <div class="content">
      <div class="header">
        {{app.name}}
      </div>
      <div class="meta">
        {{app.appid}}
      </div>
      <div class="description">
        {{app.description.substring(0,50)}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div (click)="deleteapp(app.appid)" class="ui basic negative button"><i class="icon trash"></i>Delete</div>
        <div class="ui basic positive button"><i class="icon sign-in"></i>Browse</div>
      </div>
    </div>
  </div>

  <div class="ui card app" (click)="openModal()">
    <div class="extra content">
      <img src="./assets/images/add.png" class="ui image small centerimg" />
    </div>
  </div>

  <!-- app create modal -->

  <div class="ui mini modal">
    <!-- <i class="close icon"></i> -->
    <div class="ui centered card create-card">
      <div class="content">
        <img class="ui tiny image" src="assets/images/science-mini.png" />
        <div class="center aligned header header-custom">CHROMOSOME</div>
        <div class="center aligned description tagline">
          <p>Your decentralized codeless smart backend</p>
        </div>
      </div>
      <div class="extra content">
        <form class="ui form">
          <h4 class="ui dividing header">Create your decentralized app</h4>

          <div class="field">
            <label>Domain</label>
            <div class="ui labeled input">
              <div class="ui label">
                https://
              </div>
              <input [disabled]="loading" [(ngModel)]="application.domain" type="text" name="domain" placeholder="yourdomain.com">
            </div>
          </div>

          <div class="field">
            <label>Application Name</label>
            <div class="field">
              <input [disabled]="loading" [(ngModel)]="application.appname" type="text" name="appname" placeholder="Yourappname">
            </div>
          </div>

          <div class="field">
            <label>Description</label>
            <textarea [disabled]="loading" [(ngModel)]="application.description" placeholder="Your application description" name="description"
              rows="2"></textarea>
          </div>


          <div class="ui segment">
            <div class="field">
              <div class="ui toggle checkbox">
                <input type="checkbox" checked="checked" name="gift" tabindex="0" class="hidden">
                <label>I agree to the terms and condition of snapbase</label>
              </div>
            </div>
          </div>
          <div class="ui center aligned">
            <button [disabled]="loading" (click)="closemodal()" class="ui button negative">
              <i class="icon close"></i>Cancel</button>
            <button (click)="createapp()" class="ui button positive" [ngClass]="{'loading':loading}">
              <i class="icon sign-in "></i>Create App</button>
          </div>
        </form>
      </div>
    </div>
  </div>