.create-card{
    background-color: rgb(255,255,255,0.3) !important;
    box-shadow: none;
    -webkit-box-shadow:none;
    /* margin-top: 20px !important; */
}

.header-custom{
    color:rgb(91, 187, 71) !important;
}

.tagline{
    color:rgba(130, 197, 140, 0.68) !important;
}